<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<div style="background: #50a3a2; width: 800px; margin-left: auto; margin-right: auto; padding: 20px;">

    <div style="margin-left: 240px;" th:text="${message}" />
    <br/>
    <button style="margin-left: 250px;" className="surveyButton" type="button" onClick={window.history.back()}><---</button>
</div>

</body>
</html>